disable:
  - "metrics-server"
  - "traefik"
  - "servicelb"
write-kubeconfig-mode: "0644"
cluster-cidr: 10.244.0.0/16
kubelet-arg:
  - container-log-max-files=4
  - container-log-max-size=50Mi
cluster-init: true
